.answer {
    padding: 1rem;
    position: relative;
    margin: .5rem;
    box-shadow: -5px 6px 45px -14px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;

}

.answer-edit {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 1rem;
    cursor: pointer;
}

.answer:hover {
    box-shadow: -5px 6px 45px -14px rgba(0, 0, 0, 0.4);
}

.previous-answer {
    border-top: 1px solid rgb(100, 98, 98);
    color: rgb(100, 98, 98);
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}