body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.form-group {
  margin: 0
}

.form-group input.form-control {
  border: none;
  border-bottom: 2px solid rgb(7, 7, 7);
  background: transparent !important;
  outline: none;
  border-radius: 0;
  color: black !important
}

.form-group input.form-control:focus {
  border-bottom: 2px solid rgb(20, 161, 91);
  box-shadow: none;
}

.btn {
  margin: 1rem;
}

.btn.cbtn {
  background: linear-gradient(rgb(102, 211, 113), rgb(43, 165, 74));
  color: white;
  padding: .25rem;
  margin-top: .5rem;

}

.icon-group {
  display: flex;

}

.icon {
  cursor: pointer;
  margin-right: .2rem;
}